
.header{
    background-image: url(/IMG/Raptor-header.jpg);
    background-position:center center;
    background-size: cover;
    height: 100vh;
}

.bg-navbar{
    background-color: #323A60 ;

}

.bg-seccion{
    background-color: #323A60 ;
    margin-right: 0.1px;
}
.titulo{
    color: #58A6B0;
}

.texto{
    color: #914623 ;
}

.arial{
    font-family:Arial, Helvetica, sans-serif;
}
.margen{
    margin-left: 0.1px;
    margin-right: 0.1px;
}

.accordion-button:not(.collapsed) {
    color: #914623 ;
    background-color: #E5BE51 ;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.encabezado-tabla{
    --bs-table-bg: #323a60;
    color: #E5BE51 ;
}

.bg{
    background-color: #914623 ;
    color: #E5BE51;
}

.bg-tabla-casual{
    background-color: #32aa76;
}



