
.header{
    background-image: url(/IMG/Raptor-header.jpg);
    background-position:center center;
    background-size: cover;
    height: 42rem;

}
.bg-seccion{
    background-color: #1e3257;
    margin-right: 0.1px;
}

.arial{
    font-family:Arial, Helvetica, sans-serif;
}