
.header{
    background-image: url(/IMG/Raptor-header.jpg);
    background-position:center center;
    background-size: cover;
    height: 42rem;

}
.bg-seccion{
    background-color: #323A60 ;
    margin-right: 0.1px;
}

.titulo{
    color: #58A6B0;
}

.texto{
    color: #914623 ;
}

.arial{
    font-family:Arial, Helvetica, sans-serif;
}

